.variables {
    width: 80%;
    padding: 40px;

    &__whatIsVariable {
        
        & > p {
            line-height: 24px;
            text-align: justify;
            margin-top: 16px;
        }
    }


}